<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Notes</title>
  </head>
  <body>
    <h1>Edit your Notes here!</h1>
    <form action="/notes/<%= note.id %>/edit?_method=PATCH" method="POST">
      <textarea name="newText"> <%= note.text %> </textarea>
      <button>submit changes</button>
    </form>
  </body>
</html>
