<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loogin Page</title>
  </head>
  <body>
    <div class="Loginbox">
        <form action="/login" method="POST">
            <input type="text" placeholder="Enter UserName" name="username"><br><br>
            <input type="password" placeholder="Enter PassWord" name="password"><br><br>
            <button>submit</button>
        </form>
    </div>
  </body>
</html>
