<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>viewing Notes</title>
</head>
<body>
    <h1>View Note</h1>
    <p><%= note.text %></p>
    <a href="/notes">Back</a>
</body>
</html>